body {
    background: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

canvas {
    display: block;
    margin: 1rem auto;
    width: 100%;
}

h1,
h2,
h3 {
    font-family: 'Ubuntu', sans-serif;
}

#controls,
section {
    margin: 1rem;
}

section>* {
    margin-right: 1rem;
}

#fsButton {
    font-size: 1.2rem;
    width: 8rem;
}

.checkboxSection {
    display: flex;
    flex-flow: column;
}

#checkboxes {
    display: flex;
    flex-flow: row wrap;
}

.checkboxSection>* {
    margin-bottom: 1rem;
}

label {
    margin-right: 2.4rem;
}

input {
    margin-right: 0.5rem;
}

input[type="file"] {
    font-family: inherit;
    font-size: inherit;
}