/* * {
    border: 1px solid white;
} */

body {
    background: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

section {
    margin-top: 1rem;
}

canvas {
    display: block;
    margin: auto;
    width: 100%;
}

h1,
h2,
h3,
h4 {
    font-family: 'Ubuntu', sans-serif;
}

label {
    margin-right: 2.4rem;
    white-space: nowrap;
}

button,
select {
    border: none;
    border-radius: 9999px;
    font-family: inherit;
    font-size: inherit;
    width: fit-content;
    padding: 0.2rem 0.8rem;
}

input {
    margin-right: 0.4rem;
    font-family: inherit;
    font-size: inherit;
}

input[type="radio"] {
    margin-bottom: 1.2rem;
}

#controls {
    margin: 1rem;
    display: flex;
    flex-flow: row wrap;
}

.controlSection {
    display: flex;
    flex-flow: column;
}

.controlSection>* {
    margin-bottom: 1rem;
}